:root {
    --background-color: #ccc;
    --font-color: #222;
}

[data-theme='dark'] {
    --background-color: #222;
    --font-color: #ccc;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
}